*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: antiquewhite;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;


}
 .nav{
    background-color: rgb(250, 221, 184);
    text-align: end;
    a{
        padding: 0 10px;
    }
 }
main{
    h2{
        text-align: center;
        padding: 50px;
    }
    .div__main{
        display: flex;
        justify-content: center;
        text-align: left;
    }
}